# Dependencies
node_modules/

# Bun
bun.lockb

# Build output
dist/
stats.html

# Cache
.cache/
.rollup.cache/
tsup.config.tsbuildinfo
*.tsbuildinfo

# Testing
coverage/
.nyc_output/
vitest.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.fleet/
.DS_Store

# Debug
npm-debug.log*
*.log

# Environment variables
.npmrc
.env
.env.*
!.env.example

# Changeset
.changeset/

# Temporary files
*.tmp
*.temp
.temp/

# Project specific
.eslintcache
.stylelintcache