:root {
  /* Base colors */
  --grey: 0, 0%, 50%;
  --cyan: 190, var(--sat), var(--light);
  --blue: 220, var(--sat), var(--light);
  --purple: 255, var(--sat), var(--light);
  --sat: 70%;
  --light: 50%;

  /* Padded system colors */
  --padd-grid-color-line: hsla(var(--blue), 0.15);
  --padd-grid-color-pattern: hsla(var(--purple), 0.15);
  --padd-grid-color-auto: hsla(var(--blue), 0.15);
  --padd-grid-color-fixed: hsla(var(--cyan), 0.15);

  /* Demo theme colors */
  --demo-bg: white;
  --demo-title: black;
  --demo-text: #181818;
  --demo-block: rgba(229, 229, 229, 1);
  --demo-shadow: rgba(0, 0, 0, 0.1);
  --demo-max-width: 1216px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sat: 100%;
    --light: 70%;
    --demo-bg: #181818;
    --demo-title: white;
    --demo-text: #c2c2c2;
    --demo-block: rgba(50, 50, 50, 1);
    --demo-shadow: rgba(0, 0, 0, 0.5);
    --padd-grid-color-line: hsla(var(--grey), 0.15);
  }
}

.grid-playground {
  background: var(--demo-bg);
}

/* Demo layout */
.demo-wrapper {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  max-width: var(--demo-max-width);
  display: flex;
  flex-direction: column;
}

input {
  padding-block: 8px;
}

.demo-content {
  display: flex;
  flex-direction: column;
}

/* Demo components */
.demo-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--demo-title);
}

p {
  color: var(--demo-text);
}

section {
  padding: 16px 16px 12px;
}

.range-header {
  display: flex;
  justify-content: space-between;
}

.range-header > :last-child {
  color: hsla(var(--blue), 1);
}

.range-input {
  width: 100%;
}

.content-block {
  width: 100%;
  position: relative;
  padding: 14px 16px 16px;
  color: var(--demo-text);
  background-color: var(--demo-block);
  border-radius: 6px;
}

/* Controls */
.grid-controls {
  width: 240px;
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  background-color: var(--demo-bg);
  color: var(--demo-text);
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px var(--demo-shadow);
}

.divider {
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, .1);
}

.controls-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.visibility-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 24px;
}

.checkbox-label, .z-index-label, .base-unit-label, .base-unit-label {
  display: flex;
  flex-direction: column;
}

.items {
  display: flex;
  justify-content: space-between;
}

.checkbox-container {
  display: flex;
  gap: 1rem;
}

.sr-only {
  display: none;
  visibility: hidden;
}

.metrics-container pre {
  margin: 0
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Indice styles */
.indice {
  font-size: 13px;
  padding-block: 2px 3px;
  color: var(--spc-color-indice);
  position: absolute;
  right: 8px;
}

.width {
  top: 0;
}

.height {
  bottom: 0;
}
